@font-face {
    font-family: FjallaOne;
    src: url("FjallaOne-Regular.ttf") format("opentype");
}


body{
	font-family: 'FjallaOne', sans-serif;

}
#tryAgain{
  color: #FFA800;
  margin-top: 10%;
}
#screen{
  height: 100%;
}
.wave{
  width: 40%;
}
.main{
	position: relative;
    left: 30%;
    /* top: 150px; */
    height: 1000px;
    /* right: 50%; */
    width: 40%;
    text-align: center;
}
#right{
    width: 45%;
    /* float: right; */
    top: 60px;
    right: 0;
    position: absolute;
    color:#112E94;
    font-size: 0.8rem;
}
#left{
    width: 45%;
    float: left;
    top: 60px;
    position: absolute;
    color:#112E94;
    font-size: 0.8rem;
}

.quote{
    width: 50px;
    left: 28px;
    top: -30px;
    position: absolute;
}
.qrCode{
  margin-top: 300px;
  width: 100px;
}
.quote2{
    width: 50px;
    left: 8px;
    top: -30px;
    position: absolute;
}
#website{
  color: #112E94;
  margin-top: 10px;
}
.pids-wrapper{
  z-index: 3;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  margin-bottom: 10px;
}
.pid{
  width: calc(10% - 148.5px);
  height: 120px;
  display: inline-block;
  margin: 5px;
}

.highlight{
  color: #FFA800;
}

#img{
	  height: 40px;
    position: relative;
    top: 380px;
}

#bigText{
	color: #112E94;
    /* left: 30%; */
    padding: 0 10% 0 10%;
    font-size: 4.5rem;
    width: 80%;
    text-align: center;
    position: relative;
    top: 50px;
    font-weight: 400;
    text-transform: uppercase;

}
#animate{
  padding-top: 15%;
  font-size: 4.5rem;
  color: #112E94;
}
#animate2{
  font-size: 4.5rem;
  color: #112E94;
  padding-left: 15%;
  padding-right: 15%;
}

#action{
	padding-top: 15%;
	color: #112E94;
  font-size: 3.0rem;
	font-weight: 300;
	text-transform: uppercase;
}

#action2{
  padding-top: 10%;
  color: #112E94;
  font-size: 3.0rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 25%;
  padding-right: 25%;
}